<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class='modelo-wrapper'> <div style="width: 100%; padding-bottom: 56.25%; position:
        relative"> <div style="position: absolute; top: 0; bottom: 0; left: 0; right: 0;"> <iframe src="
        https://app.modelo.io/embedded/1607618714107609088?viewport=false&autoplay=false&autorotate=false&hideTools=true&showBIM=false&showBBoxSize=true&showKooRender=false&showSettings=false&c_at0=35.74297473242075&c_at1=-3.002981713550588&c_at2=5.227089811866153&c_theta=-0.4373959210039011&c_phi=0.1168878019039584&c_dis=9.224861079970946" style="width:100%;height:100%;" frameborder="0" mozallowfullscreen webkitallowfullscreen
        allowfullscreen ></iframe> </div> </div> </div>

</body>

</html>