<html>

<head>
    <script src='https://cdn.tailwindcss.com/'></script>
</head>

<body>
    <div class="bg-white">
        <div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20"
            data-content="how-it-works">
            <div class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12">
                <div>
                    <p
                        class="inline-block mb-2 text-base font-semibold tracking-wider text-gray-600 uppercase rounded-full secondary_text editable">
                        How it works</p>
                </div>
                <h2 class="max-w-lg mb-6 text-3xl font-bold leading-none tracking-tight text-gray-900 sm:text-4xl md:mx-auto primary_text editable"
                    data-content="website-headlines">Secure Your Hotel Bookings With Ak-Ideal and Enjoy Special Offers!
                </h2>
                <p class="text-base text-gray-600 md:text-lg secondary_text editable"
                    data-content="website-subheadlines">we provide information about the number of hotels world wide for
                    booking we give offers on booking on the different occasion</p>
            </div>
            <div class="grid gap-8 row-gap-0 lg:grid-cols-3">
                <div class="relative text-center" data-subcontent="step_1">
                    <div
                        class="flex items-center justify-center w-16 h-16 mx-auto mb-4 rounded-full bg-gray-50 sm:w-20 sm:h-20">
                        <svg class="w-12 h-12 text-gray-600 sm:w-16 sm:h-16" stroke="currentColor" viewBox="0 0 52 52">
                            <polygon stroke-width="3" stroke-linecap="round" stroke-linejoin="round" fill="none"
                                points="29 13 14 29 25 29 23 39 38 23 27 23"></polygon>
                        </svg>
                    </div>
                    <h6 class="mb-2 text-2xl text-gray-900 font-extrabold primary_text editable"
                        data-subcontent="step-title">Step 1</h6>
                    <p class="max-w-md mb-3 text-sm text-gray-600 sm:mx-auto secondary_text editable"
                        data-subcontent="step-content">1. customer visits our website</p>

                    <div class="top-0 right-0 flex items-center justify-center h-24 lg:-mr-8 lg:absolute">
                        <svg class="w-8 text-gray-200 transform rotate-90 lg:rotate-0" stroke="currentColor"
                            stroke-width="2" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                            <line fill="none" stroke-miterlimit="10" x1="2" y1="12" x2="22" y2="12"></line>
                            <polyline fill="none" stroke-miterlimit="10" points="15,5 22,12 15,19 "></polyline>
                        </svg>
                    </div>
                </div>
                <div class="relative text-center" data-subcontent="step_2">
                    <div
                        class="flex items-center justify-center w-16 h-16 mx-auto mb-4 rounded-full bg-gray-50 sm:w-20 sm:h-20">
                        <svg class="w-12 h-12 text-gray-600 sm:w-16 sm:h-16" stroke="currentColor" viewBox="0 0 52 52">
                            <polygon stroke-width="3" stroke-linecap="round" stroke-linejoin="round" fill="none"
                                points="29 13 14 29 25 29 23 39 38 23 27 23"></polygon>
                        </svg>
                    </div>
                    <h6 class="mb-2 text-2xl text-gray-900 font-extrabold primary_text editable"
                        data-subcontent="step-title">Step 2</h6>
                    <p class="max-w-md mb-3 text-sm text-gray-600 sm:mx-auto secondary_text editable"
                        data-subcontent="step-content">2. customer select the hotel they want to book</p>
                    <div class="top-0 right-0 flex items-center justify-center h-24 lg:-mr-8 lg:absolute">
                        <svg class="w-8 text-gray-200 transform rotate-90 lg:rotate-0" stroke="currentColor"
                            stroke-width="2" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                            <line fill="none" stroke-miterlimit="10" x1="2" y1="12" x2="22" y2="12"></line>
                            <polyline fill="none" stroke-miterlimit="10" points="15,5 22,12 15,19 "></polyline>
                        </svg>
                    </div>
                </div>
                <div class="relative text-center" data-subcontent="step_3">
                    <div
                        class="flex items-center justify-center w-16 h-16 mx-auto mb-4 rounded-full bg-gray-50 sm:w-20 sm:h-20">
                        <svg class="w-12 h-12 text-gray-600 sm:w-16 sm:h-16" stroke="currentColor" viewBox="0 0 52 52">
                            <polygon stroke-width="3" stroke-linecap="round" stroke-linejoin="round" fill="none"
                                points="29 13 14 29 25 29 23 39 38 23 27 23"></polygon>
                        </svg>
                    </div>
                    <h6 class="mb-2 text-2xl text-gray-900 font-extrabold primary_text editable"
                        data-subcontent="step-title">Step 3</h6>
                    <p class="max-w-md mb-3 text-sm text-gray-600 sm:mx-auto secondary_text editable"
                        data-subcontent="step-content">3. customer contact the hotel through our website</p>

                </div>
            </div>
        </div>
    </div>

    <div class="bg-white">
        <div class="pt-12 pb-12 max-w-7xl mx-auto">
            <div class="container">
                <div class="flex flex-wrap justify-between items-center -mx-4">
                    <div class="w-full lg:w-6/12 px-4">
                        <div class="flex items-center -mx-3 sm:-mx-4">
                            <div class="w-full xl:w-1/2 px-3 sm:px-4">
                                <div class="py-3 sm:py-4">
                                    <div class="relative">
                                        <img src="https://images.unsplash.com/photo-1517840901100-8179e982acb7" alt=""
                                            class="rounded-2xl w-full img-editable" />
                                        <p
                                            class="photo-credit absolute bottom-3 text-white text-xs right-4 tracking-tight secondary_text font-medium">
                                            Photo by <a
                                                href="https://unsplash.com/martenbjork?utm_source=copymatic&utm_medium=referral"
                                                target="_blank" class="text-white underline">Marten Bjork</a> on <a
                                                href="https://unsplash.com/?utm_source=copymatic&utm_medium=referral"
                                                target="_blank" class="text-white underline">Unsplash</a></p>
                                    </div>
                                </div>
                                <div class="py-3 sm:py-4">
                                    <div class="relative">
                                        <img src="https://images.unsplash.com/photo-1566073771259-6a8506099945" alt=""
                                            class="rounded-2xl w-full img-editable" />
                                        <p
                                            class="photo-credit absolute bottom-3 text-white text-xs right-4 tracking-tight secondary_text font-medium">
                                            Photo by <a
                                                href="https://unsplash.com/edvinjohansson?utm_source=copymatic&utm_medium=referral"
                                                target="_blank" class="text-white underline">Edvin Johansson</a> on <a
                                                href="https://unsplash.com/?utm_source=copymatic&utm_medium=referral"
                                                target="_blank" class="text-white underline">Unsplash</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="w-full xl:w-1/2 px-3 sm:px-4">
                                <div class="my-4 z-10">
                                    <div class="relative">
                                        <img src="https://images.unsplash.com/photo-1606046604972-77cc76aee944" alt=""
                                            class="rounded-2xl w-full img-editable" />
                                        <p
                                            class="photo-credit absolute bottom-3 text-white text-xs right-4 tracking-tight secondary_text font-medium">
                                            Photo by <a
                                                href="https://unsplash.com/rakabtw_?utm_source=copymatic&utm_medium=referral"
                                                target="_blank" class="text-white underline">rakabtw_</a> on <a
                                                href="https://unsplash.com/?utm_source=copymatic&utm_medium=referral"
                                                target="_blank" class="text-white underline">Unsplash</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w-full lg:w-1/2 xl:w-5/12 px-4">
                        <div class="mt-10 lg:mt-0">
                            <span
                                class="font-semibold text-base text-gray-600 mb-2 block uppercase secondary_text editable">About
                                Us</span>
                            <h2 class="font-bold text-3xl sm:text-4xl text-dark mb-8 primary_text editable"
                                data-content="website-headlines">Find The Perfect Hotel To Suit Your Needs, Anytime,
                                Anywhere.</h2>
                            <p class="text-base text-gray-600 mb-8 secondary_text editable" data-content="about-us">Ak -
                                Ideal Hotel was founded in 2013 with the goal of providing hotel managers with an easy
                                way to find and book hotels worldwide. We offer a wide range of services, including
                                hotel booking, price comparisons, and special offers on hotel stays.<br /><br />With
                                over 1 million hotels in our database, we are confident that we can help you find the
                                perfect hotel for your needs. Whether you're looking for a 5-star luxury resort or a
                                budget-friendly motel, we can help you find the right property at the best price.</p>
                            <a href="#"
                                class="py-3 px-10 inline-flex items-center justify-center text-center text-white text-base bg-gray-600 hover:bg-gray-700 hover:no-underline font-medium rounded-lg btn-editable editable">Get
                                Started</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-white body-font">
        <div class="container px-5 py-24 mx-auto">
            <div class="text-center mb-20">
                <h1 class="sm:text-4xl text-3xl font-bold text-center title-font text-gray-900 mb-4 primary_text editable"
                    data-content="website-headlines">Find Your Ideal Hotel and Enjoy Special Offers On Your Bookings
                </h1>
                <p class="text-base leading-relaxed xl:w-2/4 lg:w-3/4 mx-auto text-gray-600 secondary_text editable"
                    data-content="website-subheadlines">Ak - Ideal Hotel provides information about the number of hotels
                    world wide for booking we give offers on booking on the different occasion</p>
            </div>
            <div class="flex flex-wrap lg:w-4/5 sm:mx-auto sm:mb-2 -mx-2">
                <div class="p-2 sm:w-1/2 w-full" data-content="features">
                    <div class="bg-gray-50 rounded flex p-4 h-full items-center">
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="3" class="text-gray-600 w-6 h-6 flex-shrink-0 mr-4" viewBox="0 0 24 24">
                            <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
                            <path d="M22 4L12 14.01l-3-3"></path>
                        </svg>
                        <p class="title-font text-gray-600 font-medium w-full secondary_text editable"
                            data-subcontent="feature-title">Get the best deals on hotels</p>
                    </div>
                </div>
                <div class="p-2 sm:w-1/2 w-full" data-content="features">
                    <div class="bg-gray-50 rounded flex p-4 h-full items-center">
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="3" class="text-gray-600 w-6 h-6 flex-shrink-0 mr-4" viewBox="0 0 24 24">
                            <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
                            <path d="M22 4L12 14.01l-3-3"></path>
                        </svg>
                        <p class="title-font text-gray-600 font-medium w-full secondary_text editable"
                            data-subcontent="feature-title">The hotel industry is booming and Ak - Ideal Hotel is here
                            to help you find the perfect place to stay no matter where you're traveling. With our
                            comprehensive list of hotels worldwide, we make it easy to find and book the perfect
                            accommodations for your next trip. And, with our special offers</p>
                    </div>
                </div>
                <div class="p-2 sm:w-1/2 w-full" data-content="features">
                    <div class="bg-gray-50 rounded flex p-4 h-full items-center">
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="3" class="text-gray-600 w-6 h-6 flex-shrink-0 mr-4" viewBox="0 0 24 24">
                            <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
                            <path d="M22 4L12 14.01l-3-3"></path>
                        </svg>
                        <p class="title-font text-gray-600 font-medium w-full secondary_text editable"
                            data-subcontent="feature-title">offers and bookings</p>
                    </div>
                </div>
                <div class="p-2 sm:w-1/2 w-full" data-content="features">
                    <div class="bg-gray-50 rounded flex p-4 h-full items-center">
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="3" class="text-gray-600 w-6 h-6 flex-shrink-0 mr-4" viewBox="0 0 24 24">
                            <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
                            <path d="M22 4L12 14.01l-3-3"></path>
                        </svg>
                        <p class="title-font text-gray-600 font-medium w-full secondary_text editable"
                            data-subcontent="feature-title">Offers and discounts</p>
                    </div>
                </div>
                <div class="p-2 sm:w-1/2 w-full" data-content="features">
                    <div class="bg-gray-50 rounded flex p-4 h-full items-center">
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="3" class="text-gray-600 w-6 h-6 flex-shrink-0 mr-4" viewBox="0 0 24 24">
                            <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
                            <path d="M22 4L12 14.01l-3-3"></path>
                        </svg>
                        <p class="title-font text-gray-600 font-medium w-full secondary_text editable"
                            data-subcontent="feature-title">Get the best deals on hotels</p>
                    </div>
                </div>
                <div class="p-2 sm:w-1/2 w-full" data-content="features">
                    <div class="bg-gray-50 rounded flex p-4 h-full items-center">
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="3" class="text-gray-600 w-6 h-6 flex-shrink-0 mr-4" viewBox="0 0 24 24">
                            <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
                            <path d="M22 4L12 14.01l-3-3"></path>
                        </svg>
                        <p class="title-font text-gray-600 font-medium w-full secondary_text editable"
                            data-subcontent="feature-title">Save on your dream vacation</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-gradient-to-b from-white to-white">
        <div class="max-w-7xl mx-auto text-gray-700 body-font">
            <div class="container flex flex-col flex-wrap items-center py-5 mx-auto max-w-7xl md:flex-row">
                <nav class="flex flex-wrap items-center pb-5 text-base md:w-2/5 md:pb-0">
                    <a href="#_"
                        class="font-medium leading-6 text-gray-600 md:mr-5 hover:text-gray-900 secondary_text link-editable editable">Home</a>
                    <a href="#_"
                        class="font-medium leading-6 text-gray-600 md:mr-5 hover:text-gray-900 secondary_text link-editable editable">How
                        It Works</a>
                    <a href="#_"
                        class="font-medium leading-6 text-gray-600 md:mr-5 hover:text-gray-900 secondary_text link-editable editable">About
                        Us</a>
                    <a href="#_"
                        class="font-medium leading-6 text-gray-600 md:mr-5 hover:text-gray-900 secondary_text link-editable editable">Features</a>
                    <a href="#_"
                        class="font-medium leading-6 text-gray-600 md:mr-5 hover:text-gray-900 secondary_text link-editable editable">Content</a>
                </nav>
                <a href="#_"
                    class="flex items-center order-first mb-6 font-medium text-gray-900 md:order-none md:w-1/5 title-font md:items-center md:justify-center md:mb-0">
                    <span class="text-xl font-black leading-none text-gray-900 select-none logo">Ak - Ideal Hotel<span
                            class="text-gray-600">.</span></span>
                </a>
                <div class="inline-flex items-center space-x-6 md:w-2/5 md:justify-end">
                    <a href="#_"
                        class="text-base font-medium leading-6 text-gray-600 whitespace-no-wrap transition duration-150 ease-in-out hover:text-gray-600 secondary_text link-editable">Sign
                        in</a>
                    <a href="#_"
                        class="inline-flex items-center justify-center px-4 py-2 text-base font-medium leading-6 text-white whitespace-no-wrap bg-gray-600 border border-transparent rounded-md shadow-sm hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-600 secondary_text btn-editable">Sign
                        up</a>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-white py-32">
        <div class="mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl lg:px-8">
            <div class="flex flex-wrap items-center sm:-mx-3">
                <div class="w-full md:w-1/2 md:px-3">
                    <div
                        class="w-full pb-6 space-y-6 sm:max-w-md lg:max-w-lg md:space-y-4 lg:space-y-8 xl:space-y-9 sm:pr-5 lg:pr-0 md:pb-0">
                        <h1 class="text-5xl font-extrabold text-black primary_text editable"
                            data-content="website-headlines">Get the Perfect Hotel for Your Trip with Ak-Ideal Hotels!
                        </h1>
                        <p class="mx-auto text-xl text-gray-600 secondary_text editable"
                            data-content="website-subheadlines">Book your stay in a hotel with Ak - Ideal Hotel. We
                            provide information about the number of hotels around the world for booking and give offers
                            on booking your hotel on different occasions.</p>
                        <div class="relative flex flex-col sm:flex-row sm:space-x-4">
                            <a href="#_"
                                class="inline-flex items-center justify-center h-12 px-6 mr-1 font-medium transition duration-200 rounded shadow-md primary_button_background bg-gray-600 text-white primary_button_text focus:shadow-outline focus:outline-none btn-editable">
                                Try It Free
                                <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 ml-1" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" data-original-title="" title="">
                                    <line x1="5" y1="12" x2="19" y2="12"></line>
                                    <polyline points="12 5 19 12 12 19"></polyline>
                                </svg>
                            </a>
                            <a href="#_"
                                class="flex items-center h-12 px-6 py-3 rounded-md text-gray-600 bg-gray-100 btn-editable">
                                Learn More
                            </a>
                        </div>
                    </div>
                </div>
                <div class="w-full md:w-1/2">
                    <div class="w-full h-auto relative rounded-md shadow-xl sm:rounded-xl" data-rounded="rounded-xl"
                        data-rounded-max="rounded-full">
                        <img src="https://images.unsplash.com/photo-1560200353-ce0a76b1d438"
                            class="rounded-md img-editable" />
                        <p
                            class="photo-credit absolute bottom-3 text-white text-xs right-4 tracking-tight secondary_text font-medium">
                            Photo by <a
                                href="https://unsplash.com/adrianasaraceanu?utm_source=copymatic&utm_medium=referral"
                                target="_blank" class="text-white underline">Adriana Saraceanu</a> on <a
                                href="https://unsplash.com/?utm_source=copymatic&utm_medium=referral" target="_blank"
                                class="text-white underline">Unsplash</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-white">
        <div class="max-w-7xl mx-auto px-4 sm:px-6">
            <div class="grid sm:grid-cols-12 gap-8 py-8 md:py-12 border-t border-gray-200">
                <div class="sm:col-span-12 lg:col-span-3">
                    <div class="mb-10">
                        <a href="#_"
                            class="flex order-first font-medium text-gray-900 lg:order-none lg:w-auto title-font">
                            <span class="text-xl font-black leading-none text-gray-900 select-none logo">Ak - Ideal
                                Hotel<span class="text-gray-600">.</span></span>
                        </a>
                    </div>
                    <p class="text-sm text-gray-600 secondary_text editable" data-content="website-subheadlines">we
                        provide information on the number of hotels world wide and booking offers</p>
                </div>
                <div class="sm:col-span-6 md:col-span-3 lg:col-span-2">
                    <h6 class="text-gray-900 font-bold mb-2 primary_text editable">Products</h6>
                    <ul class="text-sm">
                        <li class="mb-2"><a
                                class="text-gray-600 hover:text-gray-900 transition duration-150 ease-in-out secondary_text link-editable"
                                href="/">Link 1</a></li>
                        <li class="mb-2"><a
                                class="text-gray-600 hover:text-gray-900 transition duration-150 ease-in-out secondary_text link-editable"
                                href="/">Link 2</a></li>
                        <li class="mb-2"><a
                                class="text-gray-600 hover:text-gray-900 transition duration-150 ease-in-out secondary_text link-editable"
                                href="/">Link 3</a></li>
                        <li class="mb-2"><a
                                class="text-gray-600 hover:text-gray-900 transition duration-150 ease-in-out secondary_text link-editable"
                                href="/">Link 4</a></li>
                        <li class="mb-2"><a
                                class="text-gray-600 hover:text-gray-900 transition duration-150 ease-in-out secondary_text link-editable"
                                href="/">Link 5</a></li>
                    </ul>
                </div>
                <div class="sm:col-span-6 md:col-span-3 lg:col-span-2">
                    <h6 class="text-gray-900 font-bold mb-2 primary_text editable">Resources</h6>
                    <ul class="text-sm">
                        <li class="mb-2"><a
                                class="text-gray-600 hover:text-gray-900 transition duration-150 ease-in-out secondary_text link-editable"
                                href="/">Link 1</a></li>
                        <li class="mb-2"><a
                                class="text-gray-600 hover:text-gray-900 transition duration-150 ease-in-out secondary_text link-editable"
                                href="/">Link 2</a></li>
                        <li class="mb-2"><a
                                class="text-gray-600 hover:text-gray-900 transition duration-150 ease-in-out secondary_text link-editable"
                                href="/">Link 3</a></li>
                        <li class="mb-2"><a
                                class="text-gray-600 hover:text-gray-900 transition duration-150 ease-in-out secondary_text link-editable"
                                href="/">Link 4</a></li>
                        <li class="mb-2"><a
                                class="text-gray-600 hover:text-gray-900 transition duration-150 ease-in-out secondary_text link-editable"
                                href="/">Link 5</a></li>
                    </ul>
                </div>
                <div class="sm:col-span-6 md:col-span-3 lg:col-span-2">
                    <h6 class="text-gray-900 font-bold mb-2 primary_text editable">Company</h6>
                    <ul class="text-sm">
                        <li class="mb-2"><a
                                class="text-gray-600 hover:text-gray-900 transition duration-150 ease-in-out secondary_text link-editable"
                                href="/">Home</a></li>
                        <li class="mb-2"><a
                                class="text-gray-600 hover:text-gray-900 transition duration-150 ease-in-out secondary_text link-editable"
                                href="/">About us</a>
                        </li>
                        <li class="mb-2"><a
                                class="text-gray-600 hover:text-gray-900 transition duration-150 ease-in-out secondary_text link-editable"
                                href="/">Company values</a></li>
                        <li class="mb-2"><a
                                class="text-gray-600 hover:text-gray-900 transition duration-150 ease-in-out secondary_text link-editable"
                                href="/">Pricing</a></li>
                        <li class="mb-2"><a
                                class="text-gray-600 hover:text-gray-900 transition duration-150 ease-in-out secondary_text link-editable"
                                href="/">Privacy Policy</a></li>
                    </ul>
                </div>
                <div class="sm:col-span-6 md:col-span-3 lg:col-span-3">
                    <h6 class="text-gray-900 font-bold mb-2 primary_text editable">Subscribe</h6>
                    <p class="text-sm text-gray-600 mb-4 secondary_text editable">Get the latest news and articles to
                        your inbox every month.</p>
                    <form>
                        <div class="flex flex-wrap mb-4">
                            <div class="w-full"><label class="block text-sm sr-only" for="newsletter">Email</label>
                                <div class="relative flex items-center max-w-xs"><input id="newsletter" type="email"
                                        class="form-input w-full text-gray-800 px-3 py-2 pr-12 text-sm"
                                        placeholder="Your email" required="" /><button type="submit"
                                        class="absolute inset-0 left-auto" aria-label="Subscribe"><span
                                            class="absolute inset-0 right-auto w-px -ml-px my-2 bg-gray-300"
                                            aria-hidden="true"></span><svg
                                            class="w-3 h-3 fill-current text-gray-600 mx-3 flex-shrink-0"
                                            viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M11.707 5.293L7 .586 5.586 2l3 3H0v2h8.586l-3 3L7 11.414l4.707-4.707a1 1 0 000-1.414z"
                                                fill-rule="nonzero"></path>
                                        </svg></button></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="md:flex md:items-center md:justify-between py-4 md:py-8 border-t border-gray-200">
                <ul class="flex mb-4 md:order-1 md:ml-4 md:mb-0">
                    <li><a class="flex justify-center items-center text-gray-600 hover:text-gray-900 bg-white hover:bg-white-100 rounded-full shadow transition duration-150 ease-in-out"
                            aria-label="Twitter" href="/"><svg class="w-8 h-8 fill-current" viewBox="0 0 32 32"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M24 11.5c-.6.3-1.2.4-1.9.5.7-.4 1.2-1 1.4-1.8-.6.4-1.3.6-2.1.8-.6-.6-1.5-1-2.4-1-1.7 0-3.2 1.5-3.2 3.3 0 .3 0 .5.1.7-2.7-.1-5.2-1.4-6.8-3.4-.3.5-.4 1-.4 1.7 0 1.1.6 2.1 1.5 2.7-.5 0-1-.2-1.5-.4 0 1.6 1.1 2.9 2.6 3.2-.3.1-.6.1-.9.1-.2 0-.4 0-.6-.1.4 1.3 1.6 2.3 3.1 2.3-1.1.9-2.5 1.4-4.1 1.4H8c1.5.9 3.2 1.5 5 1.5 6 0 9.3-5 9.3-9.3v-.4c.7-.5 1.3-1.1 1.7-1.8z">
                                </path>
                            </svg></a></li>
                    <li class="ml-4"><a
                            class="flex justify-center items-center text-gray-600 hover:text-gray-900 bg-white hover:bg-white-100 rounded-full shadow transition duration-150 ease-in-out"
                            aria-label="Github" href="/"><svg class="w-8 h-8 fill-current" viewBox="0 0 32 32"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M16 8.2c-4.4 0-8 3.6-8 8 0 3.5 2.3 6.5 5.5 7.6.4.1.5-.2.5-.4V22c-2.2.5-2.7-1-2.7-1-.4-.9-.9-1.2-.9-1.2-.7-.5.1-.5.1-.5.8.1 1.2.8 1.2.8.7 1.3 1.9.9 2.3.7.1-.5.3-.9.5-1.1-1.8-.2-3.6-.9-3.6-4 0-.9.3-1.6.8-2.1-.1-.2-.4-1 .1-2.1 0 0 .7-.2 2.2.8.6-.2 1.3-.3 2-.3s1.4.1 2 .3c1.5-1 2.2-.8 2.2-.8.4 1.1.2 1.9.1 2.1.5.6.8 1.3.8 2.1 0 3.1-1.9 3.7-3.7 3.9.3.4.6.9.6 1.6v2.2c0 .2.1.5.6.4 3.2-1.1 5.5-4.1 5.5-7.6-.1-4.4-3.7-8-8.1-8z">
                                </path>
                            </svg></a></li>
                    <li class="ml-4"><a
                            class="flex justify-center items-center text-gray-600 hover:text-gray-900 bg-white hover:bg-white-100 rounded-full shadow transition duration-150 ease-in-out"
                            aria-label="Facebook" href="/"><svg class="w-8 h-8 fill-current" viewBox="0 0 32 32"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M14.023 24L14 17h-3v-3h3v-2c0-2.7 1.672-4 4.08-4 1.153 0 2.144.086 2.433.124v2.821h-1.67c-1.31 0-1.563.623-1.563 1.536V14H21l-1 3h-2.72v7h-3.257z">
                                </path>
                            </svg></a></li>
                </ul>
                <div class="text-sm text-gray-600 mr-4">© 2022 Ak - Ideal Hotel. All rights reserved.</div>
            </div>
        </div>
    </div>
    <div class="bg-white">
        <div class="px-4 pb-16 pt-14 mx-auto sm:max-w-xl md:max-w-full lg:max-w-7xl md:px-24 lg:px-8">
            <div class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12">
                <p
                    class="inline-block px-3 py-px mb-2 text-base font-semibold tracking-wider w-full text-gray-600 uppercase secondary_text editable">
                    About Ak - Ideal Hotel</p>
                <h2 class="max-w-lg mb-5 font-sans text-3xl font-bold leading-none tracking-tight text-gray-900 sm:text-4xl md:mx-auto primary_text editable"
                    data-content="website-headlines">Get The Best Deals On Hotels Worldwide With Ak-Ideal Hotel</h2>
                <p class="text-base text-gray-700 md:text-lg secondary_text editable"
                    data-content="product-descriptions">Ak is the most comprehensive hotel information website. With
                    accurate and up to date information on all hotels world wide, Ak provides a portal for travelers to
                    efficiently find what that are looking for</p>
            </div>
            <div class="grid max-w-screen-lg gap-8 row-gap-5 mb-8 sm:grid-cols-2 lg:grid-cols-4 sm:mx-auto">
                <div class="relative"><img class="object-cover w-full h-56 rounded shadow-lg img-editable"
                        src="https://images.unsplash.com/photo-1520250497591-112f2f40a3f4" alt="" />
                    <p
                        class="photo-credit absolute bottom-3 text-white text-xs right-4 tracking-tight secondary_text font-medium">
                        Photo by <a href="https://unsplash.com/ahungryblonde_?utm_source=copymatic&utm_medium=referral"
                            target="_blank" class="text-white underline">Sara Dubler</a> on <a
                            href="https://unsplash.com/?utm_source=copymatic&utm_medium=referral" target="_blank"
                            class="text-white underline">Unsplash</a></p>
                </div>
                <div class="relative"><img class="object-cover w-full h-56 rounded shadow-lg img-editable"
                        src="https://images.unsplash.com/photo-1583037189850-1921ae7c6c22" alt="" />
                    <p
                        class="photo-credit absolute bottom-3 text-white text-xs right-4 tracking-tight secondary_text font-medium">
                        Photo by <a href="https://unsplash.com/arkadylukashov?utm_source=copymatic&utm_medium=referral"
                            target="_blank" class="text-white underline">Arkady Lukashov</a> on <a
                            href="https://unsplash.com/?utm_source=copymatic&utm_medium=referral" target="_blank"
                            class="text-white underline">Unsplash</a></p>
                </div>
                <div class="relative"><img class="object-cover w-full h-56 rounded shadow-lg img-editable"
                        src="https://images.unsplash.com/photo-1445019980597-93fa8acb246c" alt="" />
                    <p
                        class="photo-credit absolute bottom-3 text-white text-xs right-4 tracking-tight secondary_text font-medium">
                        Photo by <a href="https://unsplash.com/manuelmx?utm_source=copymatic&utm_medium=referral"
                            target="_blank" class="text-white underline">Manuel Moreno</a> on <a
                            href="https://unsplash.com/?utm_source=copymatic&utm_medium=referral" target="_blank"
                            class="text-white underline">Unsplash</a></p>
                </div>
                <div class="relative"><img class="object-cover w-full h-56 rounded shadow-lg img-editable"
                        src="https://images.unsplash.com/photo-1578681041175-9717c16b0d66" alt="" />
                    <p
                        class="photo-credit absolute bottom-3 text-white text-xs right-4 tracking-tight secondary_text font-medium">
                        Photo by <a href="https://unsplash.com/maraconan?utm_source=copymatic&utm_medium=referral"
                            target="_blank" class="text-white underline">Mara Conan Design</a> on <a
                            href="https://unsplash.com/?utm_source=copymatic&utm_medium=referral" target="_blank"
                            class="text-white underline">Unsplash</a></p>
                </div>
            </div>
            <div class="flex items-center sm:justify-center">
                <a href="#"
                    class="inline-flex items-center justify-center h-12 px-6 mr-6 font-medium tracking-wide text-white transition duration-200 rounded shadow-md bg-gray-600 hover:bg-gray-700 focus:shadow-outline focus:outline-none secondary_text btn-editable editable">Sign
                    up</a>
                <a href="#" aria-label=""
                    class="inline-flex items-center font-semibold transition-colors duration-200 text-gray-900 hover:text-gray-800 secondary_text link-editable editable">Learn
                    more</a>
            </div>
        </div>
    </div>
    <div class="py-20 bg-white">
        <div class="px-4 mx-auto text-center max-w-7xl sm:px-6 lg:px-8">
            <h2 class="text-5xl font-extrabold tracking-tight text-gray-900 sm:text-4xl primary_text editable"
                data-content="cta">Book from over 500,000 hotels</h2>
            <p class="max-w-md mx-auto mt-3 text-base text-gray-500 sm:text-lg md:mt-5 md:text-xl md:max-w-3xl secondary_text editable"
                data-content="website-subheadlines">
                <span class="placeholder medium"></span>
                <span class="placeholder medium"></span>
            </p>
            <div class="flex justify-center mt-8 space-x-3">
                <a href="#"
                    class="inline-flex items-center justify-center px-5 py-3 text-base font-semibold text-white bg-gray-600 rounded-md shadow hover:bg-gray-700 btn-editable">Sign
                    Up Today</a>
                <a href="#"
                    class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-gray-600 bg-gray-100 rounded-md hover:bg-gray-200 hover:text-gray-600 btn-editable">Learn
                    more</a>
            </div>
        </div>
    </div>
</body>

</html>





<!-- cards -->

<!-- component -->
<div class="bg-white min-h-screen flex justify-center items-center">
        <div class="space-y-16">
            <div class="w-96 h-56 m-auto bg-red-100 rounded-xl relative text-white shadow-2xl transition-transform transform hover:scale-110">
            
                <img class="relative object-cover w-full h-full rounded-xl" src="https://i.imgur.com/kGkSg1v.png">
                
                <div class="w-full px-8 absolute top-8">
                    <div class="flex justify-between">
                        <div class="">
                            <p class="font-light">
                                Name
                            </h1>
                            <p class="font-medium tracking-widest">
                                Karthik P
                            </p>
                        </div>
                        <img class="w-14 h-14" src="https://i.imgur.com/bbPHJVe.png"/>
                    </div>
                    <div class="pt-1">
                        <p class="font-light">
                            Card Number
                        </h1>
                        <p class="font-medium tracking-more-wider">
                            4642  3489  9867  7632
                        </p>
                    </div>
                    <div class="pt-6 pr-6">
                        <div class="flex justify-between">
                            <div class="">
                                <p class="font-light text-xs">
                                    Valid
                                </h1>
                                <p class="font-medium tracking-wider text-sm">
                                    11/15
                                </p>
                            </div>
                            <div class="">
                                <p class="font-light text-xs text-xs">
                                    Expiry
                                </h1>
                                <p class="font-medium tracking-wider text-sm">
                                    03/25
                                </p>
                            </div>
    
                            <div class="">
                                <p class="font-light text-xs">
                                    CVV
                                </h1>
                                <p class="font-bold tracking-more-wider text-sm">
                                    ···
                                </p>
                            </div>
                        </div>
                    </div>
    
                </div>
            </div>
    
            <div class="w-96 h-56 m-auto bg-red-100 rounded-xl relative text-white shadow-2xl transition-transform transform hover:scale-110">
                
                <img class="relative object-cover w-full h-full rounded-xl" src="https://i.imgur.com/Zi6v09P.png">
                
                <div class="w-full px-8 absolute top-8">
                    <div class="flex justify-between">
                        <div class="">
                            <p class="font-light">
                                Name
                            </h1>
                            <p class="font-medium tracking-widest">
                                Karthik P
                            </p>
                        </div>
                        <img class="w-14 h-14" src="https://i.imgur.com/bbPHJVe.png"/>
                    </div>
                    <div class="pt-1">
                        <p class="font-light">
                            Card Number
                        </h1>
                        <p class="font-medium tracking-more-wider">
                            4642  3489  9867  7632
                        </p>
                    </div>
                    <div class="pt-6 pr-6">
                        <div class="flex justify-between">
                            <div class="">
                                <p class="font-light text-xs">
                                    Valid
                                </h1>
                                <p class="font-medium tracking-wider text-sm">
                                    11/15
                                </p>
                            </div>
                            <div class="">
                                <p class="font-light text-xs text-xs">
                                    Expiry
                                </h1>
                                <p class="font-medium tracking-wider text-sm">
                                    03/25
                                </p>
                            </div>
    
                            <div class="">
                                <p class="font-light text-xs">
                                    CVV
                                </h1>
                                <p class="font-bold tracking-more-wider text-sm">
                                    ···
                                </p>
                            </div>
                        </div>
                    </div>
    
                </div>
            </div>
        </div>
    </div>